@media screen and (min-width: 1200px) {
	.container {
		max-width: 1158px;
	}

	.section {
		padding-top: 120px;
		padding-bottom: 120px;
	}

	/* Section 1 */

	.advantages-list {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 24px;
	}

	.advantages-item {
		flex-basis: calc((100% - 72px) / 4);
	}
	.advantages-item-subtitle {
		margin-bottom: var(--subtitle-margin-bottom);
		font-weight: 500;
		font-size: 20px;
		line-height: 1.11;
		color: var(--dark);
		text-align: left;
	}

	.advantages-container {
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 264px;
		min-height: 112px;
		background-color: var(--light);
		margin-bottom: 8px;
	}

	.advantages-item-text {
		text-align: left;
		width: 264px;
		font-weight: 400;
	}

	/* Section 2 */
	.section.activities {
	}
	.activities {
		display: block;
		padding-top: 0;
	}

	.activities-title {
		font-weight: 700;
		font-size: 36px;
		line-height: 1.1;
		color: var(--dark);
		margin-bottom: var(--title-margin-bottom);
	}

	/* Section 3 */

	.team-title {
		font-weight: 700;
		font-size: 36px;
		line-height: 1.1;
		margin-bottom: var(--title-margin-bottom);
	}
	.team-list {
		margin: 0;
	}
	.list {
		display: flex;
		gap: 24px;
	}
	.team-item {
		display: list-item;
		background-color: #fff;
		box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
			0px 1px 6px 0px rgba(46, 47, 66, 0.08);
		flex-basis: calc((100% - 72px) / 4);
	}
	.img-box {
		padding: 32px 16px;
		text-align: center;
		border-top: none;
	}
	.team-item-subtitle {
		font-weight: 500;
		font-size: 20px;
		line-height: 1.2;
		color: var(--dark);
		margin-bottom: var(--subtitle-margin-bottom);
	}
	.team-item-text {
		margin-bottom: 8px;
	}
	.team-social-list {
		display: flex;
		gap: 24px;
		justify-content: center;
	}
	.team-sotial-item {
		width: 40px;
		height: 40px;
	}
	.team-social-link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: var(--primary-brand);

		transition-property: background-color;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
	.team-social-link:hover,
	.team-social-link:focus {
		background-color: var(--pressed-state);
	}

	/* Section 4 */
	.section.customers {
		padding-top: 130px;
	}
	.container.customers {
	}
	.customers-title {
		font-weight: 700;
		font-size: 36px;
		line-height: 1.11;
		margin-bottom: var(--title-margin-bottom);
	}
	.customers-list {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		gap: 24px;
		width: 100%;
	}
	.customers-item {
	}
	.customer-link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 168px;
		height: 88px;
		color: var(--subtle-text);
		border: 1px solid var(--subtle-text);
		border-radius: 4px;

		transition-property: color, border-color;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
	.customer-link:hover,
	.customer-link:focus {
		color: var(--pressed-state);
		border-color: var(--pressed-state);
	}
	.customers-icon {
		fill: currentColor;
	}
}
