@media screen and (min-width: 768px) {
	.container {
		max-width: 766px;
	}

	.section {
		padding-top: 96px;
		padding-bottom: 96px;
	}

	.section.advantages {
	}

	.advantages-list {
		display: flex;
		margin: 0;
		flex-wrap: wrap;
		flex-direction: row;
		row-gap: 72px;
		column-gap: 24px;
	}

	.advantages-item {
		flex-basis: calc((100% - 24px) / 2);
	}

	.advantages-item-text {
		text-align: left;
		max-width: 356px;
	}

	/* Section 3 */
	.section.team {
		/* width: 768px;
		height: 1232px; */
	}
	.team-item-wrap {
	}
	.team-list {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		row-gap: 64px;
		column-gap: 24px;

		justify-content: center;
		align-items: center;

		padding: 0px 0px;
	}

	.list {
		/* display: flex;
        gap: 24px; */
	}

	.team-item {
		flex-basis: calc((100%-24px) / 2);
		margin-right: auto;
		margin-left: auto;
	}
}
